<header>
  <h2 class="admin-title">Students</h2>
</header>

<table mat-table [dataSource]="students" class="mat-elevation-z8 demo-table">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <tr mat-header-cell *matHeaderCellDef>No.</tr>
    <tr mat-cell *matCellDef="let element">{{element.id}}</tr>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <tr mat-header-cell *matHeaderCellDef>Name</tr>
    <tr mat-cell *matCellDef="let element">{{element.name}}</tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    (click)="clickedRow = row"
    [class.demo-row-is-clicked]="clickedRow == row"
    *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>

<div>
  <p *ngIf="clickedRow">
    Clicked on {{clickedRow.name}}
  </p>
</div>
