<h2 class="student-title">{{student.name}}</h2>

<div class="student-info">
  <p id="name">Name: 
    {{student.name}}
  </p>
  <p id="age">Age: 
    {{student.age}}
  </p>
  <p id="group">Group: 
    {{student.groupe}}
  </p>
  <p id="course">Course: 
    {{student.course}}
  </p>
</div>

<div class="student-marks">
  <mat-tab-group>
    <!--<mat-tab label="Math">Math marks</mat-tab>
    <mat-tab label="English">English marks</mat-tab>-->
    <mat-tab label="All marks">
      <div id="mark" *ngFor="let mark of student.marks">{{mark}}</div>
    </mat-tab>

   
  </mat-tab-group>
</div>
